<!DOCTYPE html>
<html>
   <body>
    <div id="map"></div>
    <link rel=stylesheet type="text/css" href="/css/nearby_search.css">
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/index.js"></script>
    <script  
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq6a9lCfiJD2D_tUQ3GeOOv5z1wHIqHRQ&libraries=places ">
    </script>
       
         <div id="place-info-wrapper">
		 <div id="hero-header-wrapper"><img></img></div>
                 <div id="place-basic-info-wrapper">
                      <div id="place-basic-info">
			     <div class="place-name info-text"></div>
			      <div class="place-review-score info-text"></div>
			       <div class="place-type info-text"></div>
		        </div>
                   </div>
            <button class="place-info-visibility-toggle"><div class="triangle-icon left"></button>
         </div>
  </body>
</html>

